@mixin before_circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        position: absolute;
        top: -25%;
        left: 0px;
        background: $main-color;
        border-radius: 50%;
        z-index: -1;
    }
}
