.price {
    padding-top: 120px;
    &__items {
        padding-top: 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        &:before {
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 100%;
            position: absolute;
            top: 3px;
        }
    }
 
    &__counter {
        justify-self: end;
    }
    &__descr {
        grid-column: 1/3;
    }
}